@model IEnumerable<ScheduleJobDef>
@{
   ScheduleButtonEnabled = true;
   var createScheduleModel = new CreateScheduleViewModel();
}

@foreach (var def in Model)
{
   <div class="box">
      <article class="media">
         @*<figure class="media-left">
            <p class="image is-64x64">
               <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
         </figure>*@
         <div class="media-content">
            <div class="content">
               <p><strong>@def.Name</strong></p>
               <p>@def.Type.ToString(), @def.IntervalType.ToString(), @def.TimeFrom - @def.TimeTo - @def.TimeZone, @def.Active</p>
            </div>
            <nav class="level is-mobile">
               <div class="level-left">
                  <a class="level-item">
                     <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                     <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                     <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
               </div>
            </nav>
         </div>
         <div class="media-right">
            <button class="delete"></button>
         </div>
      </article>
   </div>

}

<partial name="_CreateScheduleModalPartial" model="createScheduleModel" />
