@model Dictionary<int, List<ScheduleJobDef>>
@{
   ScheduleButtonEnabled = true;
   var friendsList = (List<FacebookFriend>)ViewBag.FriendsList ?? new List<FacebookFriend>();
   int defIndex = -1;
}
<script>
   console.log(@Json.Serialize(friendsList.Select(f => f.Name)));
</script>
@if (Model.Any())
{
   @foreach (var bundle in Model)
   {
      <div class="tile is-ancestor">

         @foreach (var def in bundle.Value)
         {
            defIndex++;
            <div class="tile is-4 is-parent">
               <div class="tile is-child box is-hoverable is-clickable">
                  <article class="media w-100">
                     <div class="media-content modal-ajax-trigger"
                          data-modal-target="#scheduleModal"
                          data-params-id="@def.Id"
                          data-modal-href="@Url.Action("update", "schedule")">
                        <div class="content mb-4">
                           <p class="mb-1"><strong>@def.Name</strong></p>
                           <p class="mb-1">@def.Type.ToString() - @def.FriendId</p>
                           <p class="mb-1">@def.IntervalType.ToString(), @def.TimeFrom - @def.TimeTo - @def.TimeZone</p>
                        </div>
                        <nav class="level is-mobile">
                           <div class="level-left">
                              <a class="level-item">
                                 <span class="icon is-small"><i class="fas fa-info"></i></span>
                              </a>
                              <a class="level-item">
                                 <span class="icon is-small"><i class="fas fa-pen"></i></span>
                              </a>
                              <a class="level-item">
                                 <span class="icon is-small"><i class="fas fa-trash"></i></span>
                              </a>
                           </div>
                        </nav>
                     </div>
                     <div class="media-right">
                           <div class="field">
                              <input id="switch-def-@defIndex"
                                     type="checkbox"
                                     class="switch is-rounded toggle-ajax"
                                     name="active"
                                     data-href="@Url.Action("ToggleActive", "Schedule")"
                                     data-params-id="@def.Id"
                                     @(def.Active ? "checked" : "")>
                              <label for="switch-def-@defIndex"></label>
                           </div>
                     </div>
                  </article>
               </div>
            </div>
         }
      </div>
   }
}
<div id="scheduleModal" class="modal"></div>
