@model IEnumerable<TTWebCommon.Models.DataModels.FacebookCredential>
@{

}
@if (Model != null)
{
    @foreach (var cred in Model)
    {
        <div class="control facebook-credential-button">
            <div class="tags has-addons">
                <a class="tag is-link" data-username="@cred.Username" data-password="@cred.Password" data-id="@cred.Id">@cred.Username</a>
                <a class="tag is-delete" data-username="@cred.Username"></a>
            </div>
        </div>
    }
}
