<nav class="navbar" role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
      <a class="navbar-item" href="/">
         <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>

      @if (Authenticated)
      {
         <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="#navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </a>
      }
   </div>

   <div id="navbarMenu" class="navbar-menu">

      <div class="navbar-start">
         @if (Authenticated)
         {
            <a class="navbar-item" href="@Url.Action("index", "schedule")">
               <span class="icon">
                  <i class="far fa-clock" aria-hidden="true"></i>
               </span>
               <span class="has-icon-left">Schedules</span>
            </a>
         }
      </div>

      <div class="navbar-end">
         <div class="navbar-item">

         </div>

         @if (Authenticated)
         {
            <div class="navbar-item has-dropdown is-hoverable">
               <a class="navbar-link">
                  <span class="icon">
                     <i class="fas fa-user" aria-hidden="true"></i>
                  </span>
                  <span class="has-icon-left">@ContextUser.Firstname @ContextUser.Lastname</span>
               </a>

               <div class="navbar-dropdown is-right">
                  <a class="navbar-item" href="@Url.Action("profile", "account")">
                     <span class="icon">
                        <i class="fas fa-info"></i>
                     </span>
                     <span class="has-icon-left">Profile</span>
                  </a>
                  <a id="logout-button" class="navbar-item" href="@Url.Action("logout", "account")">
                     <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                     </span>
                     <span class="has-icon-left">Logout</span>
                  </a>
               </div>
            </div>
         }
      </div>
   </div>
</nav>

@if (ScheduleButtonEnabled)
{
   <div class="buttons is-right px-1 py-1">
      <a class="button is-primary modal-trigger" data-modal-target="#createScheduleModal">
         <span class="icon">
            <i class="fas fa-plus" aria-hidden="true"></i>
         </span>
         <span class="has-icon-left">New schedule</span>
      </a>
   </div>
}
